@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }

  h1 {
    @apply text-[36px];
  }
  
  h2 {
    @apply text-[28px];
  }
  
  h3 {
    @apply text-[20px];
  }
  
  h4 {
    @apply text-[18px]
  }

  h5 {
    @apply text-[16px]
  }

  h6 {
    @apply text-[14px]
  }

  a, span, p, input {
    @apply text-gray;
  }

  span, p {
    @apply text-[14px];
  }

  strong {
    @apply text-black;
  }
}

html,
body {
  font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
